<html lang="en">
    <body>
        <table>
            <tbody>
                <tr>
                    <th rowspan="2">Group 1</th>
                    <td>Subject 1</td>
                    <td>9.6</td>
                </tr>
                <tr>
                    <td>Subject 2</td>
                    <td>8.6</td>
                </tr>
                <tr>
                    <th rowspan="3">Group 2</th>
                    <td>Subject 3</td>
                    <td>9.6</td>
                </tr>
                <tr>
                    <td>Subject 4</td>
                    <td>8.6</td>
                </tr>
                <tr>
                    <td>Subject 5</td>
                    <td>8.6</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
