<!doctype html>
<html lang="es">
    <head>
        <style>
            span {
                border: 1px solid #000;
            }
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
            }
        </style>
    </head>
    <body>
        <div class="header" style="background-color: aqua;">
            <span>All the headers here</span>
            <span>All the headers here</span>
        </div>
        <div class="student-info big">
            <!-- Student info here -->
        </div>
        <div class="grades-body">
            <div class="left-column">
                <table>
                    <!-- The table that's giving problems here -->
                </table>
            </div>
            <div class="right-column">
                <!-- Elements to the rigth of the first page -->
            </div>
        </div>
        <div class="footer big">
            <!-- Footer for first page -->
        </div>
        <div class="page-break">
            <table>
                <!-- Table that is working fine -->
            </table>
        </div>
    </body>
</html>
